@media screen and (max-width: 1024px)   /* Responsywność - 2 kolumny na średnich ekranach (768px+) */
{
    .galeria
    {
        grid-template-columns: repeat(2, 1fr); /* 2 kolumny */
    }
}

@media screen and (max-width: 768px)    /* Media query dla urządzeń o szerokości ekranu poniżej 768px (np. tablety i telefony) */
{
    .inic_img img
    {
        max-width: 45%; /* Dwa obrazy w rzędzie na mniejszych ekranach */
    }
    .kontakt_tab
    {
        max-width: 100%;
    }
    footer
    {
        flex-direction: column;
        align-items: center; /* Wyrównanie zawartości w pionie */
        text-align: center;
    }

    .footer_column1, .footer_column2, .footer_column3, .footer_column4
    {
        width: 100%; /* Kolumny zajmują pełną szerokość na małych ekranach */
        padding: 20px 0;
    }
    .footer_copyright
    {
        text-align: center; /* Centrowanie treści w stopce na małych ekranach */
    }
    .slider-container
    {
        width: 90%; /* Szerokość slidera na mniejszych ekranach */
    }
    .slide {
        width: 50%; /* 100% / 2 obrazki */
    }
    .galeria {
        grid-template-columns: 1fr; /* 1 kolumna */
    }
}

@media (max-width: 480px)
{
    .inic_img img
    {
        max-width: 100%; /* Jeden obraz na całą szerokość na bardzo małych ekranach */
    }
    .kontakt_tab
    {
        max-width: 100%;
    }
    .slider-container {
        width: 100%; /* Pełna szerokość slidera na małych ekranach */
    }
    .slide {
        width: 100%; /* 1 obrazek na ekranie */
    }
    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%); /* Przesunięcie o 1 obrazek */
        }
    }
}