footer {
    display: flex;
    justify-content: space-between; /* Rozmieszczenie kolumn */
    align-items: flex-start;        /* Dopasowanie do góry */
    flex-wrap: wrap; /* Pozwala na przełamywanie się kolumn na mniejszych ekranach */
    height: auto;
    padding: 0 10%;
    text-align: center;
    background: #00204a;
    background-size: cover;
    color: white;
    font-size: 15px;
}

.footer_column1, .footer_column2, .footer_column3, .footer_column4
{
    flex: 1;  /* Każda kolumna zajmuje równą szerokość */
    padding: 10px;
}

.footer_column1
{
    text-align: center;
}

.footer_column2
{
    text-align: center;
}

.footer_column3
{
    text-align: center;
}

.footer_column4
{
    text-align: left;
}

.footer_copyright
{
    display: flex;
    width: 100%; /* Ustawienie szerokości na 100% */
    text-align: center; /* Układ tekstu w stopce */
    justify-content: center;  /* Centrowanie poziome */
    padding: 0;
    font-size: 10px;
}

footer img {
    max-width: 100%; /* Dopasowanie szerokości logo do szerokości kontenera */
    height: auto; /* Zachowanie proporcji logo */
    margin-bottom: 10px;
}

footer a {
    color: white; /* Kolor linków */
    text-decoration: none; /* Usunięcie podkreślenia */
    display: block; /* Umożliwia łatwiejsze kliknięcie linków */
    margin: 5px 0; /* Odstępy między linkami */
}

footer a:hover {
    text-decoration: underline; /* Podkreślenie linków po najechaniu */
}

footer ul {
    list-style-type: none; /* Usunięcie punktów listy */
    padding: 0;
}

footer ul li ul {
    list-style-type: none; /* Usunięcie punktów listy dla podlist */
    padding-left: 20px; /* Wcięcie dla podlist */
}