html
{
  color: #222;        /* Kolor tekstu – ciemnoszary (#222) */
  font-size: 1em;     /* Rozmiar czcionki – 1em (czyli domyślny rozmiar przeglądarki, zazwyczaj 16px) */
  line-height: 1.4;   /* Rozmiar czcionki – 1em (czyli domyślny rozmiar przeglądarki, zazwyczaj 16px) */
}

/*  Dla przeglądarek Mozilla (::-moz-selection) i innych (::selection).
*   Kolor tła zaznaczonego tekstu – jasnoniebieski (#b3d4fc).
    Brak cienia tekstu – poprawia widoczność
*/

::selection
{
  background: #b3d4fc;
  text-shadow: none;
}


/*      TREŚĆ     */

.inic
{
  display: flex;
  flex-direction: column;
  height: auto;  /* Automatyczna wysokość ekranu */
  padding: 0;
  text-align: center;
  background: #00205c;
  background-size: cover;
  color: #ffffff;
  font-size: 18px;
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; /* Wyśrodkowanie w poziomie */
}

.inic_text
{
  display: flex;
  width: 40%;    /* 2/3 szerokości ekranu */
  margin: 0;   /* Centrowanie */
  text-align: center;  /* Wyśrodkowanie tekstu */
  align-items: center; /* Wyśrodkowanie tekstu w pionie */
  justify-content: center; /* Wyśrodkowanie tekstu w poziomie */
}

.inic_img
{
  display: flex;
  padding: 30px;
  justify-content: center; /* Rozmieszczenie kolumn */
  align-items: flex-start;        /* Dopasowanie do góry */
  flex-wrap: wrap; /* Pozwala na przełamywanie się kolumn na mniejszych ekranach */
  height: auto;
  max-width: 100%;
  align-items: center; /* Wyśrodkowanie tekstu w pionie */
  gap: 15px; /* Dodaje odstępy między obrazami */
}

.inic_img img
{
  max-width: 23%; /* 4 obrazy w jednym rzędzie, z uwzględnieniem odstępów */
  height: auto; /* Zachowanie proporcji */
  border-radius: 10px; /* Zaokrąglone rogi */
  transition: transform 0.3s ease; /* Efekt powiększenia przy najechaniu */
}

.inic_img img:hover
{
  transform: scale(1.05); /* Powiększenie na hover */
}

.news
{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px;
  background: #ffffff;
  background-size: cover;
  color: #00102e;
  font-size: 18px;
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; /* Wyśrodkowanie pionowe */
  align-items: flex-start; /* Dopasowanie do góry */
}

.wpis
{
  width: calc(33.333% - 20px);   /* Trzy wpisy w rzędzie */
  background: none; /* Brak tła dla pojedynczych postów */
  text-align: left;
}

.wpis img
{
  width: 100%; /* 3 obrazy w jednym rzędzie, z uwzględnieniem odstępów */
  height: auto; /* Zachowanie proporcji */
  border-radius: 10px; /* Zaokrąglone rogi */
  transition: transform 0.3s ease-in-out; /* Efekt powiększenia przy najechaniu */
  object-fit: cover;
}

.wpis a {
  text-decoration: none;
  color: inherit; /* Zachowanie koloru tekstu */
}

.wpis h2
{
  font-size: 20px;
  margin: 10px 0;
}

/* Autor i data wpisu */
.wpis .autor,
.wpis .data
{
  font-size: 14px;
  color: #8B95B7;
  margin: 5px 0;
}

.kont
{
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #ededed;
}

.kont h2
{
  font-size: 35px;
  margin: 10px 0;
  text-align: center;
}

.kont h3
{
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

.kontakt
{
  display: flex;
}

.kontakt_kolumna
{
  flex: 1; /* Każda kolumna zajmuje równą przestrzeń */
  padding: 20px;
  border: 0px;
}

.kontakt_kontakt
{
  display: grid;
  grid-template-columns: 150px 1fr; /* Obrazek + reszta dostępnego miejsca */
  gap: 20px;
  align-items: center;
}

.kontakt_kontakt img
{
  width: 150px;
}

.kontakt_dane
{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.kontakt_dane a
{
  display: flex;
  flex-direction: column;
  padding: 0;
  text-decoration: none;
}

.kontakt_obrazki
{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.kontakt_obrazki img
{
  width: auto;
  height: 50px;
}

.kontakt_dane h3
{
  text-align: center;
}

.kontakt_tab h2
{
  font-size: 20px;
  margin: 10px 0;
}

.przycisk
{
  display: inline-block; /* Umożliwia nadanie szerokości i wysokości */
  padding: 12px 24px; /* Wewnętrzny odstęp */
  font-size: 18px; /* Rozmiar czcionki */
  text-align: center; /* Wyśrodkowanie tekstu */
  text-decoration: none; /* Usunięcie podkreślenia */
  color: white; /* Kolor tekstu */
  background: linear-gradient(35deg, #7ed0ff, #9b51e0); /* Kolor tła - gradient */
  border-radius: 10px; /* Zaokrąglone rogi */
  transition: background 0.3s ease, transform 0.2s ease; /* Płynna zmiana koloru */
}

.przycisk:hover {
  background: linear-gradient(35deg, #9b51e0, #7ed0ff); /* Odwrócony gradient */
  transform: scale(1.05); /* Efekt powiększenia przy najechaniu */
}



/*
 * A better looking default horizontal rule
 */

hr                                    /* Styl dla linii poziomej */
{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip-path: inset(0);;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

